<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.958276881100-kpfhp62f21f6kurnb5of16s6p8u6b989</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb752393583333927</string>
			</array>
		</dict>
	</array>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<string>TRUE</string>
	<key>FacebookAppID</key>
	<string>752393583333927</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookClientToken</key>
	<string>5f313fc52c2ca919d16efdfd8e362c32</string>
	<key>FacebookDisplayName</key>
	<string>PocketCellar</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-9990987621012540~5497535306</string>
	<key>GADIsAdManagerApp</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
	</array>
	<key>NSApplicationCrashOnExceptions</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-SemiBoldItalic.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-ExtraBoldItalic.ttf</string>
		<string>Rubik-Black.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>Rubik-SemiBold.ttf</string>
		<string>Rubik-BlackItalic.ttf</string>
		<string>Rubik-ExtraBold.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
